<!-- This is unfinished -->
<canvas id="game-canvas"></canvas>
<script src="/js/games/game.js"></script>
<script>
    class Asteroids extends Game {
        constructor() {
            super();

            this._x = 0;
            var ship = new Image();
            ship.src = "/assets/game-assets/asteroids/ship.svg";
            ship.addEventListener('load', function() { this._ship = ship; this.play(); }.bind(this), false);
            
        }
        update() {
            super.update();
            this.drawImage(this._ship);
            this._x += 5;
            if ( this._x > window.innerWidth) {
                this._x = -91;
            }
        }
        drawImage(image) {
            this._ctx.drawImage(image, this._x, window.innerHeight/2 - image.height);
        }
    }
    const GAME = new Asteroids();
</script>