<canvas id="game-canvas"></canvas> <!-- Add the game canvas -->
<script src="/js/games/game.js"></script> <!-- Import the base game class -->
<!-- Import extra game assets and classes -->
<script src="/js/games/pong/paddle.js"></script>
<script src="/js/games/pong/ball.js"></script>
<!-- Game logic -->
<script>
    class Pong extends Game {
        constructor() {
            /**
             *  Setup Pong
             */
            
            // Run the base Game constructor before using custom logic
            super();

            // Create the player paddle
            this.player = new Paddle( this );

            // Draw the initial frame
            this.drawFrame();
        }
        bindControls() {
            /**
             * Setup the controls for the game:
             * - For Desktop, the paddle follows the mouse movement;
             * - For Mobile, the paddle uses both touchstart and touchmove. It follows the player if he drags, but will also teleport on touch.
             */

            // Mobile
            this._canvas.addEventListener('touchmove', this.getYPositionMobile.bind(this), false);
            this._canvas.addEventListener('touchstart', this.getYPositionMobile.bind(this), false);
            
            this._canvas.addEventListener('touchmove', this.preventDefault, {passive: false});
            this._canvas.addEventListener('touchforcechange', this.preventDefault, {passive: false});

            // Desktop
            this._canvas.addEventListener('mousemove', this.getYPosition.bind(this), false);
        }
        getYPosition( event ) {
            /**
             * Get the mouse position and update the player.
             * 
             * @param {Object} event The Mouse Event
             */

            // Get the canvas rect
            var rect = this._canvas.getBoundingClientRect();

            // Calculate and set the position
            this.player.updateYPosition( (event.clientY - rect.top) / (rect.bottom - rect.top) * this._canvas.height );
        }
        getYPositionMobile(event) {
            /**
             * Get the touch position and update the player.
             * 
             * @param {Object} event The Touch Event. TouchStart or TouchMove.
             */
            
            // Get the canvas rect
            var rect = this._canvas.getBoundingClientRect();

            // Calculate and set the position
            this.player.updateYPosition( (event.touches[0].clientY - rect.top) / (rect.bottom - rect.top) * this._canvas.height );
        }
        _resizeCanvas(){
            /**
             * Override -> Fix player's X position.
             */

            // Run the normal resize code.
            super._resizeCanvas();

            // If the player has already been defined, update his position.
            if ( typeof this.player !== "undefined") {
                this.player.updateXPosition();
            }
        }
        _reset() {
            /**
             * Override -> Create the ball.
             */

            // Run the normal reset
            super._reset();

            // Create the ball
            this.ball = new Ball( this );
        }
        update() {
            /**
             * Clear the screen, update the Player and the Ball, check for collisions and run the common Update Code.
             */

            // Clear the screen.
            super.clear()
            
            // Update the player and the ball.
            this.player.update();
            this.ball.update();
            
            // Check for, and handle collisions.
            this.checkCollisions();
            
            // Common update code.
            super.update();
        }
        checkCollisions() {
            /**
             *  Check for, and handle collisions. Handles the ball colliding with the screen, the player, and leaving the screen.
             */

            // Ball collided with screen top/bottom.
            if ( this.ball.position.y + this.ball.size.y >= this._canvas.height || this.ball.position.y <= 0 ) {
                this.ball.collidedY();
            }

            // Ball collided with left side of screen.
            if ( this.ball.position.x <= 0 ) {
                this.ball.collidedX();
            }

            // Check ball colliding with panel.
            // the isColliding variable prevents the ball from colliding with the paddle multiple times.
            if ( !this.ball.isColliding ) {
                // If hasn't collided in the last X frames, check for collision
                if ( this.ball.position.x + this.ball.size.x >= this.player.position.x
                    && this.ball.position.x <= this.player.position.x + ( this.player.size.x / 2 )
                    && this.ball.position.y + this.ball.size.y >= this.player.position.y
                    && this.ball.position.y <= this.player.position.y + this.player.size.y
                    ) {
                    // The ball collided with the player.
                    //  Set it's isColliding to prevent more collisions in the next X frames.
                    this.ball.isColliding = this.ball.IGNORE_COLLISION_FRAMES;

                    // Make it rebound.
                    this.ball.collidedX();

                    // Increment the score.
                    this.incrementScore();
                }
            } else {
                // If it collided recently, decrement the isColliding variable.
                this.ball.isColliding--;
            }

            // Check ball leaving screen.
            if ( this.ball.position.x - this.ball.size.x >= this._canvas.width ) {
                this.endGame();
            }
        }
        drawFrame(){
            /**
             * Draw the player and the ball each frame.
             */

            this.player.draw();
            this.ball.draw();
        }
    }

    // Instanciate the Game.
    const GAME = new Pong();

</script>