<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
<header>
    <nav class="site-header" id="siteHeader">
        <a href="javascript:void(0);" class="icon" onclick="openNavbarSidebar()">
            <i class="bi bi-list"></i>
        </a>
        <div id="navbar-block">
            <!-- Loop through all pages -->
            {%- for item in site.data.header.pages -%}
                <!-- Get the url, and change it if it's home -->
                {%- assign link = item.url -%}
                {%- if item.url == '/' -%}
                    {%- assign link = "/" | append: page.lang -%}
                {%- endif -%}
                <!-- Find the active class -->
                {%- assign key = item.title | downcase -%}
                {%- assign active-class = '' -%}
                {%- if key == page.layout -%}
                    {%- assign active-class = 'active' -%}
                {%- endif -%}
                <a data-class="header-link" class="{{active-class}}" data-linkto="{{item.title}}" href="{{ link }}">{{ site.data.translations[key][page.lang] }}</a>
            {%- endfor -%}
        </div>
        {%- if page.game or layout.game -%}
        <div id="game-controller-container">
            <h1 id="game-score" class="inactive">0</h1>
            <a href="#" class="always-visible" id="game-toggle" onclick="toggleGame(this)">
                <i class="ldkicon-controller"></i>
            </a>
        </div>
        {%- endif -%}
        <a class="always-visible accent-button" data-class="header-link" data-linkto="Contact" id="contact-link" href="contact">{{ site.data.translations['contact'][page.lang]}}</a>
        <div class="hidden-until-responsive">
            <!-- <a href="#" class="va-m p-0" id="theme-toggle">
                {%- include svgs/toggle.svg -%}
            </a>
            <a href="#" class="va-m" style="margin-bottom: 1.4vw;" onclick="changeLang()" id="lang-switcher">{{ page.lang | uppercase }}</a> -->
            <div class="switchers-container">
                <div>
                    <span class="title-family" data-class="dark">D</span><a href="#" id="theme-toggle" class="always-visible">
                        {%- include svgs/toggle.svg -%}
                    </a><span class="title-family" data-class="light">L</span>
                </div>
                <div>
                    {%- for lang in site.languages -%}
                        <a href="#" onclick="changeLang()" {%- if (lang == page.lang) -%}
                            class="disabled always-visible"
                        {%- else -%}
                            class="always-visible"
                        {%- endif -%} id="lang-switcher">{{ lang | uppercase }}</a>
                    {%- endfor -%}
                </div>
            </div>


            
        </div>
        <div class="hidden-until-responsive tos-container">
            <a href="#"><span id="programmedby">{{ site.data.translations['programmedby'][page.lang] }}</span>: {{ site.programmer }}</a>
            <a href="#" id="designedbycontainer" onmouseover="prepareDesignerLink(this)"><span id="designedby">{{ site.data.translations['programmedby'][page.lang] }}</span>: <span id="designer">{{ site.designer }}</span></a>
        </div>
    </nav>
</header>
<script>
    function openNavbarSidebar() {
        var x = document.getElementById("siteHeader");
        if (x.className === "site-header") {
            x.className += " responsive";
        } else {
            x.className = "site-header";
        }
    }
    function changeLang() {
        let path = window.location.pathname;
        let newPath;
        if ( path.includes('/en/')) {
            newPath = path.replace('/en/', '/pt/');
        } else {
            newPath = path.replace('/pt/', '/en/');
        }
        window.open(newPath, "_self");
    }
    function prepareDesignerLink(el) {
        var timer = setTimeout(() => {
            el.classList.toggle('ee');
        }, 2000);
	    el.onmouseout = function() {  clearTimeout(timer); } //remove timer
    }
</script>