<style>
    .slide-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
    }
    .slide {
        display: none;
        width: 100%;
        border: var(--border-size) solid var(--accent-color);
        background-color: var(--background-color);
    }
    .slide > img, .slide > video {
        object-fit: contain;
        height: 100%;
        width: 100%;
        box-sizing: content-box;
        aspect-ratio: var(--project-image-aspect-ratio);
        margin-bottom: -3px;
    }
    .dot-container {
        text-align: center;
        margin: 10px;
    }
    .dot {
        cursor: pointer;
        aspect-ratio: 1;
        height: calc( var(--border-size) * 2 );
        margin: 0 5px;
        background-color: var(--faded-accent-color);
        display: inline-block;
    }
    .dot.active, .dot:hover {
        background-color: var(--accent-color);
    }

    @media screen and (min-width: 800px) {
        .dot {
            height: var(--border-size);
        }
    }
</style>

<div id="slideshow-{{ include.id }}" class="slideshow-container" data-component="slideshow">
    <div class="slide-container">
        {%- for media in include.mediaList -%}
            <div class="slide" data-component="slide">
                {%- assign splitName = media | split: '.' -%}
                {%- if splitName.last == 'png' or splitName.last == 'jpg' -%}
                    <img src="{{ include.folder }}{{ media }}" alt="{{ media }}">
                {%- else -%}
                    <video src="{{ include.folder }}{{ media }}" controls></video>
                {%- endif -%}
                
            </div>
        {%- endfor -%}
    </div>
    <div class="dot-container">
        {%- assign media_counter = 0 -%}
        {%- for media in include.mediaList -%}
            <div class="dot" onclick="showSlide( {{ include.id }}, {{ media_counter }} );"></div>
            {%- assign media_counter = media_counter | plus: 1 -%}
        {%- endfor -%}
    </div>
</div>

<script>
    var currentSlideIndex = 0;
    showSlide( {{ include.id }}, currentSlideIndex );

    function showSlide( ID, index ) {
        // Get all the elements.
        let slideContainer = document.getElementById(`slideshow-${ID}`);
        let slides = slideContainer.querySelectorAll('[data-component="slide"]');
        let dots = slideContainer.getElementsByClassName("dot");

        if ( index < 0 ) {
            index = slides.length - 1;
        } else if ( index >= slides.length ) {
            index = 0;
        }

        currentSlideIndex = index;

        // Loop through all slides and deactivate them, and their dots.
        for (let i = 0; i < slides.length; i++) {
            slides[i].style.display = "none"; 
            dots[i].classList.remove("active");
        }

        // Activate the correct slide and dot.
        slides[index].style.display = "block";
        dots[index].classList.add("active");
    }

     setupSlideshowSlider( {{ include.id }} );

    var touchstartX;
    var touchstartY;
    var touchendX;
    var touchendY;

    function setupSlideshowSlider( ID ) {
        let slideshowContainer = document.getElementById(`slideshow-${ID}`);

        slideshowContainer.addEventListener('touchstart', function (event) {
            touchstartX = event.changedTouches[0].screenX;
        });

        slideshowContainer.addEventListener('touchend', function (event) {
            touchendX = event.changedTouches[0].screenX;
            handleGesture( ID );
        });
    }


    function handleGesture( ID ) {
        let slideshowContainer = document.getElementById(`slideshow-${ID}`);
        let threshold = 100;

        let x = this.touchendX - this.touchstartX;

        if (Math.abs(x) > threshold ) {
            if (x < 0) {
                currentSlideIndex++;
                showSlide( ID, currentSlideIndex );
            } else {
                currentSlideIndex--;
                showSlide( ID, currentSlideIndex );
            }
        }
    }
</script>