<style>
    .slide-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
    }
    .slide {
        display: none;
        width: 100%;
        aspect-ratio: var(--project-image-aspect-ratio);
        border: var(--border-size) solid var(--accent-color);
        background-color: var(--background-color);
    }
    .slide > img, .slide > video {
        object-fit: contain;
        height: 100%;
        width: 100%;
    }
    .dot-container {
        text-align: center;
        margin: 10px;
    }
    .dot {
        cursor: pointer;
        aspect-ratio: 1;
        height: calc( var(--border-size) * 2 );
        margin: 0 5px;
        background-color: var(--faded-accent-color);
        display: inline-block;
    }
    .dot.active, .dot:hover {
        background-color: var(--accent-color);
    }

    @media screen and (min-width: 600px) {
        .dot {
            height: var(--border-size);
        }
    }
</style>

<div id="slideshow-{{ include.id }}" class="slideshow-container" data-component="slideshow">
    <div class="slide-container">
        {%- for media in include.mediaList -%}
            <div class="slide" data-component="slide">
                {%- assign splitName = media | split: '.' -%}
                {%- if splitName.last == 'png' -%}
                    <img src="{{ include.folder }}{{ media }}" alt="{{ media }}">
                {%- else -%}
                    <video src="{{ include.folder }}{{ media }}" controls></video>
                {%- endif -%}
                
            </div>
        {%- endfor -%}
    </div>
    <div class="dot-container">
        {%- for media in include.mediaList -%}
            <div class="dot" onclick="showSlide( {{ include.id }}, {%- increment media_counter -%} );"></div>
        {%- endfor -%}
    </div>
</div>

<script>
    showSlide( {{ include.id }}, 0 );

    function showSlide( ID, index ) {
        // Get all the elements.
        let slideContainer = document.getElementById(`slideshow-${ID}`);
        let slides = slideContainer.querySelectorAll('[data-component="slide"]');
        let dots = slideContainer.getElementsByClassName("dot");

        // There's a bug in portuguese where for some reason it seems the counter runs twice, and it uses the second run of values, this is a duct tape fix that should work even if adding another language.
        if ( index >= slides.length ) {
            // parseInt of index / slide.length should give how many times the index is bigger than the length of slides.
            index -= slides.length * parseInt( index / slides.length );
        }

        // Loop through all slides and deactivate them, and their dots.
        for (let i = 0; i < slides.length; i++) {
            slides[i].style.display = "none"; 
            dots[i].classList.remove("active");
        }

        // Activate the correct slide and dot.
        slides[index].style.display = "block";
        dots[index].classList.add("active");
    }
</script>