#page-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow: hidden;
    padding-bottom: 0;
}
#category-container {
    order: 2;
    display: flex;
    gap: 10px;
    justify-content: center;
}
#topic-container {
    order: 3;
    min-height: 40px;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: overlay;
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding-inline: 10px;
}
#social-container {
    order: 1;
    display: grid;
    justify-items: center;
    gap: 10px;
}
#info-container {
    order: 4;
    overflow-y: auto;
}
#info-container img {
    max-width: 100%;
    max-height: 40vh;
}
.about-container {
    width: 100%;
}
.category {
    min-width: 60%;
}
.arrow-button, .category, .topic, .download-cv {
    display: inline-block;
    padding: 5px;
    margin: 0;
    border: none;
    font-family: var(--title-family);
    font-size: calc(15px + 3vw);
    height: calc(25px + 3vw);
}
.category, .topic, .download-cv {
    padding-inline: 10px;
}
.category:not(.active) {
    display: none;
}
.arrow-button {
    cursor: pointer;
    aspect-ratio: 1;
}
.arrow-button, button.active, .topic.active {
    background-color: var(--accent-color);
    color: var(--accordion-text-color);
}
.arrow-button > i {
    vertical-align: middle;
    -webkit-font-smoothing: none;
    font-weight: bold;
}
#topic-list {
    display: inline-flex;
    flex-direction: column;
    gap: 20px;
    width: calc(100% - 50px);
    vertical-align: top;
}
.topic {
    cursor: pointer;
    font-size: 20px;
    height: 40px;
    overflow: hidden;
}
.topic.active {
    order: -1;
    position: sticky;
    top: 0;
}
#topic-container.toggled {
    overflow-y: hidden;
}
#topic-container.toggled .topic:not(.active) {
    display: none;
}
#topic-container > .arrow-button {
    position: sticky;
    top: 0;
}
#contact-links {
    display: flex;
    gap: 15px;
}
#contact-links img {
    height: 2em;
}

#img-container img {
    width: 75%;
    aspect-ratio: 4/3;
    border: var(--border-size) solid var(--accent-color);
    object-fit: cover;
    margin: auto;
}

.download-cv {
    height: 40px;
    font-size: 25px;
    cursor: pointer;
}
#vertical-arrow {
    vertical-align: middle;
    height: 1em;
    width: 0.75em;
}

hr {
    margin-block: 15px;
}

@media screen and (min-width: 800px) { /* On Desktop/Tablets */
    #page-content {
        display: block;
        --social-container-width: min(600px, 45%, 60vh);
    }
    .about-container {
        width: calc(100% - var(--social-container-width) - 25px);
        margin-bottom: 25px;
    }
    #social-container {
        width: var(--social-container-width);
        float: right;
        clear: right;
        gap: 15px;
    }
    #img-container img {
        aspect-ratio: 1;
        width: 100%;
    }
    .arrow-button, .category, .topic, .download-cv {
        font-size: 40px;
        height: 60px;
    }
    .topic {
        font-size: 30px;
    }
    #vertical-arrow {
        height: 1em;
    }
    #topic-list {
        width: calc(100% - 70px);
    }
    .category, .topic, .download-cv {
        padding-inline: 15px;
    }
    #info-container {
        max-height: 75%;
        padding-bottom: 10%;
    }
    hr {
        margin-block: 25px;
    }
}