#portfolio-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5vw;
    justify-content: center;
}

.portfolio-project,
.flex-fixer {
    flex-grow: 1;
    flex-shrink: 1;
    width: 500px;
}
.flex-fixer {
    /* Ignore this, thanks */
    font-size: 1vh;
    color: var(--background-color);
    cursor: default;
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
.flex-fixer > span {
    /* Ignore this, thanks */
    -moz-user-select: all;
    -webkit-user-select: all;
    -ms-user-select: all;
    user-select: all;
}
.flex-fixer > span:hover {
    /* Ignore this, thanks */
    color: #88888811;
    -moz-user-select: all;
    -webkit-user-select: all;
    -ms-user-select: all;
    user-select: all;
}

.portfolio-project img {
    aspect-ratio: var(--project-image-aspect-ratio);
}

@media screen and (min-width: 600px) {
    .portfolio-project, .flex-fixer {
        flex-grow: 1;
        flex-shrink: 1;
        
        min-width: 550px;
        max-width: 800px;
    }
}