/* Page */
#page-content {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 15px;
}
/* Title */
#project-title {
    padding-top: 10px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    height: fit-content;
    width: 100%;
    flex-direction: row;
    gap: 15px;
    color: var(--accent-color);
    flex-shrink: 0;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: var(--background-color);
}
#project-title > img {
    box-sizing: content-box;
    border: var(--medium-border-size) solid var(--accent-color);
    aspect-ratio: 1;
    height: 2em;
}

#project-slideshow {
    flex-grow: 1;
}
#project-info {
    flex-basis: 100%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
}
#project-info > div {
    padding-inline: 20px;
}
#project-info > div > h2 {
    color: var(--accent-color);
    margin-bottom: 5px;
}
#project-info > div > * {
    font-size: 1.5em;
    color: var(--foreground-color);
    font-family: var(--text-family);
}
#project-info > div > a:hover {
    color: var(--accent-color);
}
.visit-container > a > img {
    height: 1.2em;
}
#project-content {
    flex-grow: 1;
}

@media screen and (min-width: 800px) { /* On Desktop/Tablets */
    #page-content {
        gap: 20px;
        overflow: hidden;
    }
    #project-title {
        font-size: 2vw;
        gap: 20px;
    }
    #project-content {
        order: 2;
        flex-basis: 1px; /* This aligns the slideshow and the content */
        max-height: 80%;
        overflow: auto;
    }
    #project-slideshow {
        order: 3;
        flex-grow: 1;
        flex-basis: 1px; /* This aligns the slideshow and the content */
    }
    #project-info {
        order: 4;
    }
}