---
layout: page
game: pong
---
<link rel="stylesheet" href="/css/pages/home.css">

<div class="home-intro">
    <!-- This is the Intro text for the website -->
    {{ content }}
</div>

<!-- Get the latest Project -->
{% assign project = site.projects
| where_exp:"p", "p.lang == page.lang"
| last
%}

<!-- Get the Latest Project Translation -->
{%- capture translatedLatestProject -%}
    {{ site.data.translations.latestproject[page.lang] }}
{%- endcapture -%}

<!-- Capture the content that'll go in the accordion -->
{%- capture latestProjectContent -%}
    <a href="portfolio/{{ project.path | split:'/' | last | split: '.' | first }}" class="project-image-container">
        <!-- The image on the left -->
        <img src="{{ project.image-path }}{{ project.cover }}" id="cover">
        <img src="{{ project.image-path }}{{ project.cover-pixel }}" id="pixel"> <!-- This is the pixelated image -->
        <div id="overlay" class="project-image-overlay"> <!-- This is the gray overlay with the button -->
            <div class="accent-button">{{ site.data.translations.view[page.lang] }}</div>
        </div>
    </a>
    <div id="project-info-container">
        <!-- The info on the right of the image -->
        <h3>{{ site.data.translations.name[page.lang] }}:</h3>
        <p class="mt-5">{{ project.name }}</p>
        <h3 class="hide-on-mobile">{{ site.data.translations.projecttype[page.lang] }}:</h3>
        <i class="ldkicon-{{ project.type }}"></i>
        <p>{{ project.slogan }}</p>
    </div>
{%- endcapture -%}

<!-- Add the accordion -->
{%- include widgets/accordion.html id="latest-project" title=translatedLatestProject content=latestProjectContent contentId="latest-project-content" -%}

<div style="position: absolute">
    <!-- This is the content at the bottom of the page. The lang/theme switches and the credits -->
    <div class="home-bottom">
        <div class="tos-container">
            <!-- First the credits. Those comments are to remove the spacing -->
            <a href="#">
                <span id="programmedby">{{ site.data.translations['programmedby'][page.lang] }}</span><!--
                --><span>:&nbsp;</span><!--
                --><span>{{ site.programmer }}</span>
            </a><!--
            --><strong>&nbsp;-&nbsp;</strong><!--
            --><a href="#" id="designedbycontainer" onmouseover="prepareDesignerLink(this)">
                <span id="designedby">{{ site.data.translations['designedby'][page.lang] }}</span><!--
                --><span>:&nbsp;</span><!--
                --><span id="designer">{{ site.designer }}</span>
            </a>
        </div>

        <div class="switchers-container">
            <!-- Then the switchers -->
            <div>
                <!-- Color theme switcher -> D icon L -->
                <strong data-class="dark">D</strong><!--
                --><a href="#" id="theme-toggle">
                    {%- include svgs/toggle.svg -%}
                </a><!--
                --><strong data-class="light">L</strong>
            </div>
            <div>
                <!-- Lang switchers -->
                {%- for lang in site.languages -%}
                    <a href="#" onclick="changeLang()" {%- if lang == page.lang -%}
                        class="disabled"
                    {%- endif -%} id="lang-switcher">{{ lang | uppercase }}</a>
                {%- endfor -%}
            </div>
        </div>
    </div>
</div>