<!DOCTYPE html>
<html>
<head>
    <!-- Normal initialization -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>{{ page.title }}</title>
    <meta property="og:title" content="{{ page.title }}">
    <meta name="twitter:title" content="{{ page.title }}">

     <meta name="description" content="{{ site.description }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta name="twitter:description" content="{{ site.description }}">

    <meta property="og:image" content="/assets/about/ldkdark.jpg">
    <meta name="twitter:image" content="/assets/about/ldkdark.jpg">
    <!-- Import CSS -->
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/assets/fonts/ldkicons.css">
    <link rel="stylesheet" href="/css/header.css"> <!-- Import the header's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css"> <!-- This is temporary, it's for 1 icon while I don't add the correct one -->
    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicon/site.webmanifest">
    <link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg" color="#d49d08">
    <link rel="shortcut icon" href="/assets/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#d49d08">
    <meta name="msapplication-config" content="/assets/favicon/browserconfig.xml">
    <meta name="theme-color" content="#1e1e1e">
    <script type="text/javascript">
        if ("{{page.redirect}}") {
            window.location.href = "{{ page.redirect }}"
        }
    </script>
</head>
<body>
    <!-- Add the header -->
    {%- include header.html -%}

    <!-- Now for the page content -->
    <div id="page-container">
        <!-- This container has both the page-content and the game-container -->
        <div id="page-content">
            <!-- The content comes from the layouts/pages that inherit from here -->
            {{ content }}
        </div>

        <!-- Add the game if it's defined, whether it's defined on the page or the layout -->
        {%- if page.game -%}
            <div id="game-container" class="inactive">
                {%- include games/{{ page.game }}.html -%}
            </div>
        {%- elsif layout.game -%}
            <div id="game-container" class="inactive">
                {%- include games/{{ layout.game }}.html -%}
            </div>
        {%- endif -%}

    </div>
    <!-- Import the Theme Switcher Code -->
    <script src="/js/lightdark.js"></script>

    <script>
        // Get the page content
        const HEADER = document.getElementById('site-header');
        const PAGE = document.getElementById('page-content');
        function toggleGame(el){
            /**
             * Toggles the game and the icon.
             * 
             * @param {Object} el The HTML element of the button
             */

            // Get the game container and the score elements.
            let game = document.getElementById('game-container');
            let score = document.getElementById('game-score');

            // Toggle the classes for all 3
            PAGE.classList.toggle('inactive');
            game.classList.toggle('inactive');
            score.classList.toggle('inactive');

            // Toggle the active class for the controller button.
            el.firstElementChild.classList.toggle('active');

            // Check whether or not to activate the game.
            let activateGame = el.firstElementChild.classList.contains('active');

            // Run the Play function of the game.
            GAME.play( activateGame );

            // If activating the game, close the sidebar.
            if ( activateGame ) {
                toggleNavbarSidebar( true );
                /* document.getElementById('game-canvas').focus(); */
            }
        }
        var isScrolling;
        PAGE.addEventListener('scroll', function (e) {
            PAGE.classList.add('scrolling')
            window.clearTimeout( isScrolling );
            isScrolling = setTimeout(function() {
                PAGE.classList.remove('scrolling')
            }, 500);
            if (PAGE.scrollTop > 0) {
                HEADER.classList.add('scrolling-body')
            } else {
                HEADER.classList.remove('scrolling-body')
            }
        }, false);
    </script>
    <script>
        function toggleNavbarSidebar( forceClose = false ) {
            /**
             * Open and Close the "Sidebar" on mobile.
             * 
             * @param {bool} [forceClose = false] If this is set to true, it'll close the navbar
             */
    
            // Get the header
            var header = document.getElementById("site-header");
    
            // If Forcing to close, or if it's open, close it.
            if ( forceClose || header.classList.contains('responsive') ) {
                header.className = "site-header";
            } else {
    
                // Otherwise open it.
                header.className += " responsive";
    
                // Since we're opening the navbar, pause the game
                let gameToggle = document.getElementById('game-toggle');
                if ( gameToggle && gameToggle.firstElementChild.classList.contains('active') ) {
                    gameToggle.click();
                }
            }
        }
        function changeLang() {
            /**
             * Change the website's language
             * TODO: Support multiple languages
             */
    
            // Get the current path
            let path = window.location.pathname;
    
            // Swap from en to pt, and vice-versa
            let newPath;
            if ( path.includes('/en/')) {
                newPath = path.replace('/en/', '/pt/');
            } else {
                newPath = path.replace('/pt/', '/en/');
            }
    
            // Open the page.
            window.open(newPath, "_self");
        }
        function prepareDesignerLink(el) {
            /**
             * Sshhh... You're not meant to see this.
             */
            var timer = setTimeout(() => {
                el.classList.toggle('ee');
            }, 5000);
            // Remove timer.
            el.onmouseout = function() {  clearTimeout(timer); }
        }
    </script>
</body>
</html>
