---
layout: page
game: space-invaders
headingDiv: |
    <div id="search">
        <i class="ldkicon-search"></i>
        <input type="text" class="searchbar" id="search-input" />
    </div>
---
<link rel="stylesheet" href="/css/pages/portfolio.css">

{%- comment -%} Because the search is being written in the front matter, the placeholder is being setup here. Using JS, find this element and set the search's placeholder to this element's text {%- endcomment -%}
<span id="search-placeholder-text" class="hidden">{{ site.data.translations.searchplaceholder[page.lang] }}</span>


{%- comment -%} Categories/Tabs {%- endcomment -%}
{% assign projectType = "projects, mods" | split: ', ' %}
{% assign projectTypeTranslated = '' | split: '' %}

{% for project in projectType %}
    {% assign projectTypeTranslated = projectTypeTranslated | push: site.data.translations[project][page.lang] %}
{% endfor %}

{%- comment -%} List of Content {%- endcomment -%}
{% assign projectList = '' | split: '' %}
{% assign standoutList = '' | split: '' %}
{% assign modList = '' | split: '' %}
{% for project in site.portfolio reversed %}
    {%- if project.lang == page.lang -%}
        {%- case project.portfolioentry -%}
            {%- when 'projects' -%}
                {%- if project.standout -%}
                    {% assign standoutList = standoutList | push: project %}
                {%- else -%}
                    {% assign projectList = projectList | push: project %}
                {%- endif -%}
            {%- when 'mods' -%}
                {% assign modList = modList | push: project %}
        {%- endcase -%}
    {% endif %}
{% endfor %}

{%- comment -%} Actual Content {%- endcomment -%}
{% capture portfolioContent %}
    {%- comment -%} Lastest Four Projects {%- endcomment -%}
    <section class="portfolio-content standout" data-tab="projects">
        {% for project in standoutList %}
            {%- include widgets/portfolioentry.html project=project -%}
        {% endfor %}
    </section>
    <h2 class="more-projects" data-tab="projects">{{site.data.translations.moreprojects[page.lang]}}</h3>
    {%- comment -%} More Projects {%- endcomment -%}
    <section class="portfolio-content" data-tab="projects">
        {% for project in projectList %}
            {%- include widgets/portfolioentry.html project=project -%}
        {% endfor %}
    </section>
    {%- comment -%} Mods {%- endcomment -%}
    <section class="portfolio-content" data-tab="mods">
        {% for project in modList %}
            {%- include widgets/portfolioentry.html project=project -%}
        {% endfor %}
    </section>


{% endcapture %}

{%- include widgets/tabbar.html id="portfolio-tabbar" tab_list = projectType tab_list_translated = projectTypeTranslated content = portfolioContent -%}

<script src="/js/pages/portfolio.js"></script> <!-- The script handles setting the search placeholder and the search functionality  -->