---
layout: page
---
<link rel="stylesheet" href="/css/pages/project.css">

<div id="project-title">
    <img id="project-icon" src="{{ page.image_path }}{{ page.icon }}" alt="Icon">
    <h1>{{ page.name }}</h1>
</div>
<div id="project-slideshow">
    {%- include widgets/slideshow.html id="0" folder=page.image_path mediaList=page.slideshow -%}
</div>
<div id="project-info">
    <div>
        <h2>{{ site.data.translations.type[page.lang] }}:</h2>
        <i class="ldkicon-{{ page.type }}"></i>
    </div>
    <div>
        <h2>{{ site.data.translations.visit[page.lang] }}:</h2>
        <div class="visit-container">
            {%- for link in page.links -%}
                <a href="{{ link.url }}">
                    <img src="/assets/imgs/other-icons/{{ link.icon }}" alt="{{ link.name }}">
                </a>
            {%- endfor -%}
        </div>
    </div>
    {% if page.framework %}
        <div>
            <h2>Framework:</h2>
            <span>{{ page.framework }}</span>
        </div>
    {% endif %}
    {% if page.engine %}
        <div>
            <h2>Engine:</h2>
            <span>{{ page.engine }}</span>
        </div>
    {% endif %}
</div>
<div id="project-content">
    <h3>{{ page.slogan }}</h3>
    {{ content }}
</div>